body{
    margin: 0 auto;

    #app{
        // size
        width: 100vw;
        height: 100vh;

        // display
        @include flex();

        // decoration
        background-color: $h-c-white;

        *{
            // decoration
            font-size: $h-f-text;
            font-family: $h-f-figtree;
            color: $h-c-black;
        }

        h1, h2, h3, h4, p{
            // margin
            margin: 0;
            padding: 0;
        }

        h1{
            // decoration
            font-size: $h-f-text-title;
            font-family: $h-f-exo;
        }

        h2{
            // decoration
            font-size: $h-f-text-subtitle;
        }


        h3{
            // decoration
            font-size: $h-f-text-big;
        }


        a{
            // decoration
            text-decoration: none;
        }

        button{
            // margin
            padding: .5rem;

            // decoration
            background-color: $h-c-black-medium;
            color: $h-c-white !important;
            border: none;
            border-radius: 15px;
            transform: scale(1);
            cursor: pointer;

            // transition
            transition: transform .1s ease-in;

            &:hover{
                // decoration
                transform: scale(1.1);

                // transition
                transition: transform .1s ease-in;
            }
        }
    }
}